.cuadro-padre {

    background-color: rgb(255, 194, 172);
    height: 600px;
    display: flex;
    flex-direction: row;

    /* Nos permite alinear en horizontal */
    /* Recuerden a word */
    justify-content: space-between;

    /* Nos permite alinear en vertical */
    align-items: center;
}

.cuadro {
    background-color: aqua;
    width: 100px;
    height: 100px;
    padding: 50px 40px 30px 20px;
    margin: 20px 40px;
    border: 10px solid yellow;
    border-radius: 10px 20px 30px 40px;
    
}

.el-1 {
    background-color: blue;
    align-self: flex-start;
    flex-grow: 2;
}
.el-2 {
    background-color: red;
    flex-grow: 1;

}
.el-3 {
    background-color: pink;
    align-self: flex-end;
    flex-grow: 1;
}

.el-4 {
    background-color: green;
    flex-grow: 1;
}

.el-5 {
    background-color: darkorchid;
    flex-grow: 1;
}

/* Introduccion a Bootstrap */

.contenedor {
    height: 250px;
    background-color: rgb(22, 219, 245);

    max-width: 1200px;

    margin: 0 auto;
}

.fila {
    display: flex;
}

.columna {
    flex-grow: 1;
}

.color-verde {
    background-color: green;
}